.item{
    height: 280px;
    flex: 1;
    position: relative;
    border-radius: .45em;
    box-shadow: rgb(21, 119, 15) 0px 7px 29px 0px;
}
.item img{
    margin-top: 1em;
}
.item h3{
    font-size: 1.25em;
}
.item h4{
    font-size: .65em;
    color: green;
    margin: .48em 0 1em 0;
}
.iconAbrir{
    position: absolute;
    top: 0px;
    left: 0px;
}
.precoBotoes span{
    background-color: yellow;
    color: black;
    padding: .35em .60em;
    border-radius:.45em;
}
.precoBotoes{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btnContador{
    display: flex;
    gap: .25em;
    justify-content: space-between;
}
.btnContador button{
    border:none;
    border-radius: .24em;
    padding: .24em .80em;
    background-color: rgb(195, 235, 160);
}