.listaDeProdutos{
 display: flex;
 flex-wrap: wrap;
 text-align: center;
 align-items: center;
 justify-content: center;
 margin-top: 4.85em;

}
.cabecalho{
    position: fixed;
    z-index: 9999999;
    background-color: black;
    padding: 1em 2em 1em 1em;
    top: 0;
    left: 0;
    display: flex;
    gap: 2em;
    align-items: center;
}
.NomedaLoja{
    text-align: center;
    font-size: 2em;

}
.NomedaLoja span{
    color: rgb(39, 197, 39);
    
}