.listaDeProdutos{
 display: flex;
 flex-wrap: wrap;
 text-align: center;
 align-items: center;
 justify-content: center;

}
.NomedaLoja{
    text-align: center;

}
.NomedaLoja span{
    color: green;
}